<div>
<div id="cross"></div>
</div>
<div class="content">
  <p>¡Hola <%= @name %>!<p>
  <p>
    Se hizo un pedido de cambio de contraseña en tu cuenta. Podés generar una nueva con el enlace acá abajo:
  </p>
  <p>
    <a href="<%= @url %>">Resetear mi contraseña</a>
  </p>
  <p>
    Si vos no pediste este cambio, ignorá el mail.<br />
    Tu contraseña no se va a modificar a menos que accedas al enlace.
  </p>
</div>
<%= render "email_styles.html" %>
