<div id="register">
  <%= single_column do %>
    <h5>Ingresá tus datos</h5>
    <br/>
    <%= render "form.html", conn: @conn,
                            changeset: @changeset,
                            required: [required: ""],
                            action: registration_path(@conn, :create) %>
  <% end %>
</div>
