<div id="register">
  <div class="content-main">
    <h3>Registración</h3>

    <h4>Ingresá tus datos</h4>

    <%= render "form.html", changeset: @changeset,
                            branches: @branches,
                            required: [required: ""],
                            action: registration_path(@conn, :create) %>
  </div>
</div>
