<li><a href="/profile">Perfil</a></li>
<%= if Registro.User.can_read(@conn.assigns[:current_user]) do %>
  <li><a href="/users">Usuarios</a></li>
  <li><a href="/branches">Filiales</a></li>
<% end %>
<li>
  <%= link "Salir", to: session_path(@conn, :delete), method: :delete %>
</li>
