<%= menu_item(@conn, "/profile", "Perfil") %>
<%= if Registro.User.can_read(@conn.assigns[:current_user]) do %>
  <%= menu_item(@conn, "/users", "Usuarios") %>
  <%= menu_item(@conn, "/branches", "Filiales") %>
<% end %>
<li>
  <%= link "Salir", to: session_path(@conn, :delete), method: :delete %>
</li>
