<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cruz Roja Argentina</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a id="logo-container" class="brand-logo"><div id="cross"></div></a>
        <%= if assigns[:current_user] do %>
          <ul class="hide-on-med-and-down">
            <%= render "_nav.html", conn: @conn %>
          </ul>

          <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
            <%= render "_nav.html", conn: @conn %>
          </ul>
        <% end %>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.run()</script>

    <%= toast_flash_message(@conn, :info) %>
    <%= toast_flash_message(@conn, :error) %>
  </body>
</html>
