<div id="branch-details">
  <div class="content-main">
    <h2 class="name">Nueva filial</h2>
    <%= render "form.html",
                conn: @conn,
                changeset: @changeset,
                admin_emails: [],
                clerk_emails: [],
                readonly: false,
                action: branches_path(@conn, :create)
    %>
  </div>
</div>
