<div id="branch-details">
  <h2 class="name"><%= @changeset.data.name %></h2>
  <div class="content-main">
    <%= render "form.html", conn: @conn, changeset: @changeset, action: branches_path(@conn, :update, @branch) %>
  </div>
</div>
