<%= single_column do %>
  <h3>Generar nueva contraseña</h3>

  <%= form_for @changeset, password_path(@conn, :update, @changeset.data), [as: :password], fn f  -> %>

    <%= hidden_input f, :reset_password_token %>

    <div class="input-field">
      <%= validated_password_input(f, :password, [class: "form-control", required: "", autofocus: ""]) %>
      <%= validated_label(f, :password, [text: "Contraseña"], []) %>
    </div>

    <div class="input-field">
      <%= validated_password_input(f, :password_confirmation, [class: "form-control", required: ""]) %>
      <%= validated_label(f, :password_confirmation, [text: "Confirmación"], []) %>
    </div>

    <div class="form-group">
      <%= submit "Cambiar contraseña", class: "btn btn-primary" %>
      <%= link "Cancelar", to: Coherence.Config.logged_out_url("/"), class: "btn" %>
    </div>
  <% end %>
<% end %>
