#register, #profile, #branch-details {
  h2.name {
    font-size: 20px;
  }

  ul.history {
    li {
      color: $secondary-gray;
      margin: 20px 0;
    }
  }

  .input-instructions {
    font-size: 12px;
    color: #777777;
  }

  .actions {
    .btn {
      margin-left: 20px;
    }
  }

  .radio-description {
    font-size: 12px;
    padding-left: 35px;
  }
}


#register {
  .actions {
    display: flex;
    flex-direction: row;
    .captcha {
      flex-grow: 1;
    }
  }
}