#register, #profile, #branch-details, #profile-show {
  h2.name {
    font-size: 20px;
  }

  ul.history {
    li {
      color: $secondary-gray;
      margin: 20px 0;
    }
  }

  .input-instructions {
    font-size: 12px;
    color: #777777;
  }

  .actions {
    .btn:not(first-child) {
      margin-left: 20px;
    }
  }

  input[type=radio] + label {
    color: black;
  }
  .radio-description {
    color: $secondary-gray;
    font-size: 12px;
    padding-left: 35px;
    margin-bottom: 15px;
  }
}


#register {
  .captcha {
    margin-bottom: 20px;
  }
}

#profile {
  #eligible-branch-warning {
    display: none;
    font-weight: bold;
    font-size: 13px;
  }
}