#landing {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $background-gray inset;
  }

  > .col {
    padding: 40px;

    h1 {
      font-size: 30px;
    }

    ul {
      margin-top: 30px;
      li {
        margin-bottom: 10px;
      }
    }

    #register {
      float: right;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      margin-top: 55px;

      i {
        margin-right: 10px;
      }
    }

    .form-group {
      margin-bottom: 35px;
    }
  }

  .narrow {
    max-width: 380px;
  }

  .login {
    padding-top: 30px;

    .login-settings {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      span:first-child {
        flex-grow: 1;
      }
    }
  }
}