#users, #branches {
  .floating-actions {
    position: relative;

    ul {
      position: absolute;
      right: -80px;
      top: 15px;
      margin: 0;

      li {
        margin-bottom: 20px;
      }
    }
  }

}

.listing {
  &.clickable tbody tr {
    cursor: pointer;
  }
  .autocomplete-content {
    position: absolute;
    width: 90%;
  }
}
