#page-users, #page-branches {
  .floating-actions {
    position: relative;

    ul {
      position: absolute;
      right: -80px;
      top: 15px;
      margin: 0;

      li {
        margin-bottom: 20px;
      }
    }
  }

}

.listing {
  thead {
    cursor: default;

    th.sortable {
      cursor: pointer;

      &.sort::after {
        margin-left: 20px;
      }
      &.sort-asc::after {
        content: "▲";
      }
      &.sort-desc::after {
        content: "▼";
      }
    }

    .sorting-indicator {
      margin-left: 20px;
    }
  }

  &.clickable tbody tr {
    cursor: pointer;
  }
}
