$nav-height: 70px;

nav {
  margin-bottom: 30px;
  height: $nav-height;
  box-shadow: none;

  .nav-wrapper {
    width: 100%;
  }

  #logo-container {
    position: absolute;
    padding-left: 30px;
  }

  ul {
    display: table;
    margin: 0 auto;
    line-height: $nav-height;

    li {
      height: $nav-height; // a height is needed to keep the border inside the container

      a {
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        color: $grey-disabled;
      }

      &.active {
        border-bottom: 5px solid $brand-red;
        background-color: transparent; // override materializes style

        a {
          color: $black;
        }
      }
    }
  }
}