#register {
  .content-main {
    margin-top: 20px;
    padding: 20px;

    h4 {
      margin-top: 30px;
    }

    form {
      margin-top: 40px;

      .form-group.actions {
        margin-top: 30px;
      }
    }
  }
}