/* This file is for your main application css. */

@import "_variables";

body {
  background-color: $background-gray;
}

#cross {
  background: $brand-red;
  height: 41px;
  position: relative;
  left: 0px;
  top: 15px;
  width: 15px;
}

#cross:after {
  background: $brand-red;
  content: "";
  height: 15px;
  left: -13px;
  position: absolute;
  top: 13px;
  width: 41px;
}

.red {
  background-color: $brand-red !important;
}

.content-main {
  background: $white;
  box-shadow: 0px 1px 5px #AAAAAA;
  border-radius: 3px;

  &:not(.table) {
    margin-top: 20px;
    padding: 20px 40px 40px 40px;
  }

  &.table {
    table {
      tr td, th {
        padding: 25px;
      }
      tbody tr {
        &:hover {
          background-color: $table-hover;
          cursor: pointer;
        }
      }
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  form {
    padding-top: 20px;

    .form-group.actions {
      margin-top: 30px;
    }

    label {
      // allow error messages to occupy the whole width of the input
      width: 100%;
    }

  }
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: $secondary-gray;
  font-weight: 700;
}

.autocomplete-content {
  // make autocomplete appear as floating over the rest of the content
  position: absolute;
  width: 90%;
}

@import "_nav";
@import "_landing";
@import "_edit_forms";
@import "_listings";
@import "_pagination";
