<%= for u <- @users do %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.email %></td>
    <td></td>
    <td><%= u.role %></td>
    <td><%= u.status %></td>
    <td><%= branch_label(u) %></td>
  </tr>
<% end %>
